* {
  box-sizing: border-box;
  font-family: ‘Montserrat’, sans-serif;
  /* border: 1px solid black; */
}

img {
  width: 35px;
  height: 35px;
}

body {
  background-color: #2B2733;
  margin-top: 0px;
  color: #CBC9CF;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 90px 100vh;
  grid-template-areas:
    "header header header header header header"
    "main main main main aside aside";
  height: 100vh;
  margin-left: 0px;
  margin-right: 0px;
}

main {
  grid-area: main;
  grid-column-start: 1;
  grid-column-end: 5;
  /* margin: 20px; */
}

.new-activity-page {
  grid-area: main;
  grid-column-start: 1;
  grid-column-end: 5;
}

.current-activity-page {
  grid-area: main;
  grid-column-start: 1;
  grid-column-end: 5;
}

.hide {
  visibility: hidden;
}

aside {
  grid-area: aside;
  margin: 0px;
  border-left: 5px solid #46424D;
  padding: 0 0 0 20px;
}

header {
  background-color: #46424D;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  grid-area: header;
}

section {
  color: #FFF;
  background-color: #46424D;
  width: 90%;
  height: 75%;
  margin: 0 20px;
  border-radius: 5px;
}

.container {
  padding: 30px 80px;
}

.activity-category {
  border: 1px solid #FFF;
  display: inline-block;
  width: 175px;
  height: 80px;
  text-align: center;
  padding: 5px 15px;
  margin: 0;
  background: transparent;
  color: #FFF;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}


.flex-activity {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

p {
  margin: 10px;
  text-align: center;
  display: inline-block
}

input {
  background-color: #46424D;
  color: #FFF;
  border-bottom: 2px solid #CBC9CF;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
  border-collapse: collapse;
  outline: none;
  font-size: 20px;
}

.in-button {
  margin: 0;
}

.accomplish {
  display: block;
  margin: 0 0 40px 0;
}

.seconds {
  display: inline-block;
  float: right;
}

.time {
  display: inline-block;
  width: 50%;
}

.minutes {
  width: 40%;
}

.start-button {
  float: right;
  margin: 50px 0;
  height: 40px;
  font-size: 23px;
  border-radius: 5px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.log-button {
  margin: 50px 0;
  height: 40px;
  font-size: 23px;
  border-radius: 5px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.log-button-container {
  display: flex;
  justify-content: center;
}
.lower-menu {
  margin: 75px 0;
  width: 100%;
}

h2 {
  margin-left: 20px;
}

.study-active {
  color: #B3FD78;
  border: 1px solid #B3FD78;
  display: inline-block;
  width: 175px;
  height: 80px;
  text-align: center;
  padding: 5px 15px;
  margin: 0;
  background: transparent;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.meditate-active {
  color: #C278FD;
  border: 1px solid #C278FD;
  display: inline-block;
  width: 175px;
  height: 80px;
  text-align: center;
  padding: 5px 15px;
  margin: 0;
  background: transparent;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.exercise-active {
  color: #FD8078;
  border: 1px solid #FD8078;
  display: inline-block;
  width: 175px;
  height: 80px;
  text-align: center;
  padding: 5px 15px;
  margin: 0;
  background: transparent;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.timer-button {
  border: 4px solid #FFF;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: transparent;
  color: #FFF;
  font-size: 30px;
  cursor: pointer;
  justify-content: center;
  align-content: center;
  outline: none;
}

.warning {
  height: 16px;
  margin-right: 1%;
  margin-top: 1%;
  width: 16px;
}

.warning-message {
  color: #EFB7EC;
  text-align: left;
  visibility: hidden;
}

.study-timer {
  border: 4px solid #B3FD78;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background: transparent;
  color: #FFF;
  font-size: 30px;
  cursor: pointer;
  justify-content: center;
  align-content: center;
  outline: none;
}

.meditate-timer {
  border: 4px solid #C278FD;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background: transparent;
  color: #FFF;
  font-size: 30px;
  cursor: pointer;
  justify-content: center;
  align-content: center;
  outline: none;
}

.exercise-timer {
  border: 4px solid #FD8078;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background: transparent;
  color: #FFF;
  font-size: 30px;
  cursor: pointer;
  justify-content: center;
  align-content: center;
  outline: none;
}

.flex-start-timer-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accomplish-input-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.running-time {
  text-align: center;
    display: inline-block;
    margin: 10px;
    font-size: 50px;
    font-weight: bold;
}

.accomplish-output {
  font-size: 25px
}
