* {
  box-sizing: border-box;
  font-family: ‘Montserrat’, sans-serif;
}

img {
  height: 35px;
  width: 35px;
}

body {
  background-color: #2B2733;
  color: #CBC9CF;
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "main main main main aside aside";
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 90px 100vh;
  height: 100vh;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

main,
.new-activity-page,
.current-activity-page,
.completed-activity-page {
  grid-area: main;
  grid-column-end: 5;
  grid-column-start: 1;
}

.create-new-activity-button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 23px;
  height: 40px;
  margin: 50px 0;
  outline: none;
  text-transform: uppercase;
  width: 400px;
}

.create-new-activity-button-container,
.log-button-container {
  display: flex;
  justify-content: center;
}

.log-button-container {
  height: 20px;
}

.hide {
  visibility: hidden;
}

aside {
  border-left: 5px solid #46424D;
  grid-area: aside;
  margin: 0px;
  padding: 0 0 0 20px;
}

.aside-text {
  text-align: center;
}

header {
  background-color: #46424D;
  color: #FFF;
  grid-area: header;
  text-align: center;
  text-transform: uppercase;
}

section {
  background-color: #46424D;
  border-radius: 5px;
  color: #FFF;
  height: 75%;
  margin: 0 20px;
  width: 90%;
}

.container {
  padding: 30px 80px;
}

.activity-category {
  background: transparent;
  border: 1px solid #FFF;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  height: 80px;
  margin: 0;
  outline: none;
  padding: 5px 15px;
  text-align: center;
  width: 175px;
}

.flex-activity {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

p {
  display: inline-block;
  margin: 10px;
  text-align: center
}

input {
  background-color: #46424D;
  border-bottom: 2px solid #CBC9CF;
  border-collapse: collapse;
  border-left: none;
  border-right: none;
  border-top: none;
  color: #FFF;
  font-size: 20px;
  outline: none;
  width: 100%;
}

.in-button {
  margin: 0;
}

.accomplish {
  display: block;
  margin: 0 0 40px 0;
}

.seconds {
  display: inline-block;
  float: right;
}

.time {
  display: inline-block;
  width: 50%;
}

.minutes {
  width: 40%;
}

.start-button,
.log-button {
  border-radius: 5px;
  cursor: pointer;
  font-size: 23px;
  height: 40px;
  margin: 50px 0;
  outline: none;
  text-transform: uppercase;
}

.start-button {
  float: right;
}

.lower-menu {
  margin: 75px 0;
  width: 100%;
}

h2 {
  margin-left: 20px;
}

.study-active,
.meditate-active,
.exercise-active {
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  height: 80px;
  margin: 0;
  outline: none;
  padding: 5px 15px;
  text-align: center;
  width: 175px;
}

.study-active {
  border: 1px solid #B3FD78;
  color: #B3FD78;
}

.meditate-active {
  border: 1px solid #C278FD;
  color: #C278FD;
}

.exercise-active {
  border: 1px solid #FD8078;
  color: #FD8078;
}

.timer-button {
  align-content: center;
  background: transparent;
  border: 4px solid #FFF;
  border-radius: 50%;
  color: #FFF;
  cursor: pointer;
  font-size: 30px;
  height: 200px;
  justify-content: center;
  outline: none;
  width: 200px;
}

.warning {
  height: 16px;
  margin-right: 1%;
  margin-top: 1%;
  width: 16px;
}

.warning-message {
  color: #EFB7EC;
  text-align: left;
  visibility: hidden;
}

.study-timer,
.meditate-timer,
.exercise-timer {
  align-content: center;
  background: transparent;
  border-radius: 50%;
  color: #FFF;
  cursor: pointer;
  font-size: 30px;
  height: 250px;
  justify-content: center;
  outline: none;
  width: 250px;
}

.study-timer {
  border: 4px solid #B3FD78;
}

.meditate-timer {
  border: 4px solid #C278FD;
}

.exercise-timer {
  border: 4px solid #FD8078;
}

.flex-start-timer-button {
  align-items: center;
  display: flex;
  justify-content: center;
}

.accomplish-input-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.running-time {
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}

.accomplish-output {
  font-size: 25px
}
